html {
    min-height: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    background-attachment: fixed;
    background-image: url(https://good4lis.github.io/srmkmenu/img/fons2.jpg);
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.body_hide {
	opacity: 0;
	transition: .9s opacity ease-in-out;
}
.body_visible {
	opacity: 1;
}

p {
    margin: 1em 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
    flex-wrap: nowrap;
}

/* Начало */
.displays {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    border: 0px;
}

.panel {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}


/* анимация перехода старинц */
/*
.anim-transition{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    background: #fff;
    transform: scale(.85);
    animation: pulse 5s ease-in-out infinite;
    display: none;
}

@keyframes pulse {
  from {
    transform: scale(.0);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(.0);
  }
}
*/

/* конец анимки */

.menu {
    width: 50%;
    height: 100vh;
    background: rgba(250, 250, 250, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column-reverse;
}

.info {
    color: rgb(255, 255, 255);
    font-size: 130%;
    font-family: Tahoma;
    white-space: pre;
    cursor: default;
}

.info-t {
    color: rgb(255, 255, 255);
    font-size: 121%;
    font-family: Tahoma;
    white-space: pre;
    cursor: default;
}

.info-text {
    color: rgb(255, 255, 255);
    font-size: 160%;
    font-family: Tahoma;
    white-space: pre;
    cursor: default;
}

.panel-list {
    width: 55%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column-reverse;
}

.tmp {
    width: 100%;
    height: 10vh;
    margin: 5% 0%;
    background-color: transparent;
    border: 2px solid rgb(225, 225, 225);
    color: rgb(255, 255, 255);
    padding: 1% 30%;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    font-size: 200%;
    font-family: Tahoma;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
}

.tmp:hover {
    background-color: rgb(225, 225, 225);
    border: 2px solid rgb(225, 225, 225);
    color: rgb(150, 150, 150);
    transition: background-color 0.3s ease-in,
        color 0.3s ease-in;
}

.create {
    left: 3%;
    top: 1%;
    margin: 3% 0%;
    position: absolute;
    z-index: 1;
    width: 1%;
    height: 1vh;
    background-color: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  height: 16px; width: 8px;
  border: 14px solid #f0f0f0; border-bottom: none;
}

.create:before {
  content: "";
  position: absolute; top: -30px;
  right: -26px; /* 30px - 8px/2 */ 
  border-style: solid; border-width: 0 30px 20px; border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #f0f0f0;
}

.create:after {
  content: "";
  position: absolute; top: -30px; left: 13px;
  height: 10px;
  border: 4px solid #f0f0f0;
}
